// colors

$color-1: #7e7976; // gray
$color-2: #6f7072;

$color-3: #e3c5bb; // pink
$color-4: #f3ddcf;

$color-5: #95e0c1; // mint
$color-6: #cee1cd;

$color-7: #fff; // white
$color-8: #f0efed;



// fonts 

$primary-font: 'Ubuntu', sans-serif;

